body{
    background-color: #ccc;
}

.scena_kostka{
    width: 400px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    perspective: 1000px;
}
  
.kostka{
    margin-top: 200px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    position: absolute;
    animation: obracaniekostki 7s infinite alternate;
}
  
.sciana{
    width: 100%;
    height: 100%;
    font-size: 50px;
    line-height: 400px;
    text-align: center;
    color: white;
    position: absolute;
    opacity: 0.6;
}
  
.front{
    background-color: red;
    transform: translateZ(200px);
}

.back{
    background-color: blue;
    transform: rotateX(180deg) translateZ(200px);
}

.left{
    background-color: blueviolet;
    transform: rotateY(-90deg) translateZ(200px);
}

.right{
    background-color: green;
    transform: rotateY(90deg) translateZ(200px);
}

.top{
    background-color: orange;
    transform: rotateX(90deg) translateZ(200px);
}

.bottom{
    background-color: teal;
    transform: rotateX(-90deg) translateZ(200px);
}
  
@keyframes obracaniekostki{
    from{
  
    }
    to{
      transform: rotateX(360deg) rotateY(360deg); 
    }
}